@font-face
{
	font-family: 'alexbrush';
	src: url('../../polices/alexbrush-regular-webfont.woff') format('woff'),
		url('../../polices/alexbrush-regular-webfont.eot') format('embedded-opentype'),
		url('../../polices/alexbrush-regular-webfont.svg') format('svg'),
		url('../../polices/alexbrush-regular-webfont.ttf') format('truetype');
}

section
{
	font-family: 'alexbrush';
	background-color: #EDEFEF;
}

h1
{
	padding-top: 10%;
	background-image: -webkit-linear-gradient(to left, #072ac8, #72ddf7);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color:transparent;
}
.entree_group
{
	border-left: solid 1px grey;
	color: #072ac8;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.suite_group
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.dessert
{
	color: #72ddf7;
	padding-bottom: 200px;
	padding-left: 0px;
	width: 100%;
}

h2
{
	font-weight: normal;
}

/* Nouvelles règles si la fenêtre fait plus de 992px*/
@media (min-width: 1200px)
{
h1
	{
		font-size: 10rem;
	}
.part
	{
		margin-left: 4%;
		margin-right: 4%;
		width: 92%;
	
		h2 {width: 610px}
	}

.group
	{
		padding-top: 2%;
		padding-bottom: 90px;
		margin-left:17%;
		margin-right: 17%;
	}

.group_dessert
	{
		padding-top: 2%;
		margin-left:17%;
		margin-right: 17%;
	}

.choice_dessert
	{
	margin-left: 0px;
	padding-top: 2%;
	}
}