@charset "UTF-8";
#conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: 'bubblegumsans';
  src: url("../../polices/bubblegumsans-regular-webfont.woff") format("woff"), url("../../polices/bubblegumsans-regular-webfont.eot") format("embedded-opentype"), url("../../polices/bubblegumsans-regular-webfont.svg") format("svg"), url("../../polices/bubblegumsans-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'greatvibes';
  src: url("../../polices/greatvibes-regular-webfont.woff") format("woff"), url("../../polices/greatvibes-regular-webfont.eot") format("embedded-opentype"), url("../../polices/greatvibes-regular-webfont.svg") format("svg"), url("../../polices/greatvibes-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'alexbrush';
  src: url("../../polices/alexbrush-regular-webfont.woff") format("woff"), url("../../polices/alexbrush-regular-webfont.eot") format("embedded-opentype"), url("../../polices/alexbrush-regular-webfont.svg") format("svg"), url("../../polices/alexbrush-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'journal';
  src: url("../../polices/journal-webfont.woff") format("woff"), url("../../polices/journal-webfont.eot") format("embedded-opentype"), url("../../polices/journal-webfont.svg") format("svg"), url("../../polices/journal-webfont.ttf") format("truetype");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px green solid;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

body {
  margin: 0px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.fa-music {
  font-size: 40px;
  background: -webkit-linear-gradient(left, #ef233c, #ff9b85);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes zoom {
  from {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    opacity: 0.7;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
}

.proj-prev:hover * {
  -webkit-animation: zoom 1s;
          animation: zoom 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.proj-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 6px 1px grey;
          box-shadow: 1px 1px 6px 1px grey;
}

.proj-prev {
  width: 250px;
  height: 250px;
}

a {
  text-decoration: none;
}

.proj-prev_heading {
  font-size: 30px;
}

.proj-prev_byline {
  margin-top: 0px;
  font-size: 40px;
}

.proj-prev--orange {
  background-color: #FCDFDB;
  font-style: italic;
  font-family: 'bubblegumsans';
}

.proj-prev--orange .proj-prev_heading1 {
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: black;
}

.proj-prev--orange .proj-prev_heading1 + .proj-prev_byline1 {
  padding-top: 20px;
  color: black;
}

.proj-prev--pink {
  background-color: #FFF5FE;
  font-family: 'greatvibes';
}

.proj-prev--pink .proj-prev_heading2 {
  background-image: -webkit-linear-gradient(left, #c47335, #7161ef);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'greatvibes';
}

.proj-prev--pink .proj-prev_heading2 + .proj-prev_byline2 {
  color: #c47335;
  font-family: 'greatvibes';
}

.proj-prev_heading3 {
  background-image: -webkit-linear-gradient(left, #072ac8, #72ddf7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'alexbrush';
}

.proj-prev_heading3 + .proj-prev_byline3 {
  color: #2d92d1;
  font-family: 'alexbrush';
}

.proj-prev_heading4 {
  background-image: -webkit-linear-gradient(left, #1a4301, #72b01d, #d0ffb7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'journal';
}

.proj-prev_heading4 + .proj-prev_byline4 {
  color: #72b01d;
  font-family: 'journal';
}

.frame {
  background-color: #579c87;
  color: #FDD144;
  width: 100%;
}

.link {
  color: #FDD144;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-size: 26px;
  width: 300px;
  height: 60px;
  padding-top: 20px;
}

.soussection {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px green solid;
  font-size: 18px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.low {
  position: fixed;
  bottom: 0px;
  color: #FDD144;
  width: 100%;
}

.fa_circle_1 {
  font-size: 16px;
  padding-left: 10px;
  -webkit-animation: suspension 700ms infinite;
          animation: suspension 700ms infinite;
}

@-webkit-keyframes suspension {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
}

@keyframes suspension {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
}

.fa_circle_2 {
  font-size: 16px;
  padding-left: 5px;
  -webkit-animation: suspension 700ms infinite;
          animation: suspension 700ms infinite;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

@keyframes suspension {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
}

.fa_circle_3 {
  font-size: 16px;
  padding-left: 5px;
  -webkit-animation: suspension 700ms infinite;
          animation: suspension 700ms infinite;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@keyframes suspension {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
}

.mentions_contact:hover {
  -webkit-animation: wiggle 500ms;
          animation: wiggle 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

.group_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px) {
  .group_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .proj-prev {
    margin: 50px;
    width: 300px;
    height: 300px;
  }
}

/* Nouvelles règles si la fenêtre fait plus de 992px*/
@media (min-width: 1200px) {
  .group_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .proj-prev {
    margin: 50px;
    width: 600px;
    height: 800px;
  }
  .proj-prev_heading {
    font-size: 60px;
  }
  .proj-prev_byline {
    font-size: 60px;
  }
  .proj-prev_heading3 {
    font-size: 70px;
  }
  .proj-prev_byline3 {
    font-size: 70px;
  }
  .proj-prev_heading4 {
    font-size: 80px;
  }
  .proj-prev_byline4 {
    font-size: 80px;
  }
  header {
    font-size: 70px;
    height: 150px;
    width: 100%;
  }
  .fa-music {
    font-size: 90px;
  }
  .mentions_contact {
    font-size: 30px;
  }
  .btn {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */