@charset "UTF-8";
#conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame_header {
  font-size: 30px;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 30px;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid green;
  font-size: 30px;
  font-weight: bold;
}

section {
  -webkit-box-shadow: 1px 1px 6px 1px grey;
          box-shadow: 1px 1px 6px 1px grey;
  margin: 5% 5% 100px 5%;
  padding-bottom: 50px;
  padding-top: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid green;
  font-size: 18px;
  height: 70px;
}

.low {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.frame {
  background-color: #579c87;
  color: #FDD144;
}

body {
  margin: 0px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.contact:hover {
  -webkit-animation: wiggle 500ms;
          animation: wiggle 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

h3 {
  padding: 15px;
}

p {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.link {
  color: #FDD144;
}

/* Nouvelles règles si la fenêtre fait plus de 1200px*/
@media (min-width: 1200px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    padding-top: 50px;
    font-size: 50px;
  }
  .frame_header {
    font-size: 90px;
    height: 150px;
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 50px;
  }
  body {
    margin: 0px;
  }
  .contact {
    font-size: 30px;
  }
}
/*# sourceMappingURL=mentions.css.map */