@charset "UTF-8";
#conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid green;
  font-size: 30px;
  font-weight: bold;
}

section {
  -webkit-box-shadow: 1px 1px 6px 1px grey;
          box-shadow: 1px 1px 6px 1px grey;
  margin: 5% 5% 80px 5%;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, black 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

h2:hover {
  background-size: 100% 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding-top: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid green;
  font-size: 18px;
  height: 70px;
}

.low {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.frame {
  background-color: #579c87;
  color: #FDD144;
}

.link {
  color: #FDD144;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
}

.price {
  font-weight: bold;
  text-align: center;
  width: 20%;
}

.dish {
  margin-right: 20px;
  margin-left: 20px;
  width: 80%;
}

.mentions_contact {
  -webkit-animation: wiggle 500ms infinite;
          animation: wiggle 500ms infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  70% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  100% {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}

.group_dessert {
  padding: 0px 0px 200px 0px;
}

.part {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.part h2 {
  width: 500px;
}

.border {
  padding-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10px;
}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px) {
  .price {
    width: 8%;
    text-align: center;
  }
  .dish {
    width: 52%;
    text-align: justify;
  }
  .part {
    width: 80%;
  }
  .part h2 {
    width: 200px;
  }
}

/* Nouvelles règles si la fenêtre fait plus de 1200px*/
@media (min-width: 1200px) {
  .low {
    width: 100%;
  }
  .group_choice {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 300px;
    font-size: 50px;
  }
  .group {
    font-size: 50px;
    padding-bottom: 90px;
  }
  .group_dessert {
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 20%;
    font-size: 50px;
  }
  h1 {
    font-size: 70px;
    padding-bottom: 30px;
  }
  h2 {
    font-size: 50px;
  }
  .border {
    height: 50px;
  }
  header {
    font-size: 90px;
    height: 150px;
  }
  section {
    margin: 10%;
    margin-top: 2%;
  }
  .price {
    text-align: right;
    padding-right: 20px;
  }
  .title {
    font-size: 70px;
    padding-top: 10%;
  }
  body {
    margin: 0px;
  }
  .mentions_contact {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style_commun_menus.css.map */