#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


header
{
	display: flex;
	height: 100px;
	padding-top:60px;
	justify-content: center;
	border-bottom: 1px solid green;
	font-size: 50px;
	font-weight: bold;
}

.menu
{
	display: flex;
	justify-content: center;
	padding: 20px;
}

footer
{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-top: 1px solid green;
	font-size:18px;
}

body
{
	margin: 0px;
}

.conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bas
{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.frame
{
	background-color: #6C9A8B;
	color: #FDD144;
}

.link
{
	color: #FDD144;
}

.bordure
{
	padding-top: 60px;
}

h1
{
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
	text-decoration: underline;
	:hover {
	animation: souligne 500ms infinite;
}
}

	@keyframes souligne {
	 	0% {transform: scale(left 0)}
	  	25% {transform: scale(left 0.2)}
		50% {transform: scale(left 0.3)}
		75% {transform: scale(left 0.4)}
	  	100%{transform: scale(left 0.5)}
	  }


.choice
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}

.containt
{
	box-shadow: 1px 1px 6px 1px grey;
}

.price
{
	font-weight: bold;
	text-align: right;
	width: 20%;
}

.plat
{
	margin-right: 20px;
	margin-left: 20px;
	width: 80%;
}

.mentions_contact
{
	animation: wiggle 500ms infinite;
}

@keyframes wiggle {
 
    0% {transform: translate(-5px,-5px)}
    25% {transform: translate(-5px,5px)}
    40% {transform: translate(5px,5px)}
    70% {transform: translate(-5px,-5px)}
    100% {transform: translate(5px,-5px)}
  }

 .group_dessert 
  {
	padding-bottom: 200px;
	 padding-left: 0px;
  }

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px)
{
}

/* Nouvelles règles si la fenêtre fait plus de 992px*/
@media (min-width: 1200px)
{

	.group_choice
	{
		margin-left: 200px;
		margin-right: 200px;
		padding-bottom: 300px;
		font-size: 50px;
	}

	.group
	{
		margin-left: 10%;
		margin-right: 10%;
		font-size: 50px;
		padding-bottom: 90px;
	}

	.group_dessert
{
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 200px;
	font-size: 50px;
}

	h1
	{
		font-size: 70px;
		padding-bottom: 30px;
	}
	h2
	{
		font-size: 50px;
	}

	section
{
	padding-top : 50px;
}

.bordure_gauche
{
	padding-top: 15px;
	flex:1;
	height: 50px;
}

.bordure_droite
{
	padding-top: 15px;
	flex:1;
	height: 50px;
}

.partie
{
	margin-left : auto; 
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	width: 85%;
	h2 {width: 550px}
	
}
}