@font-face
{
	font-family: 'greatvibes';
	src: url('font/greatvibes-regular-webfont.woff') format('woff'),
		url('font/greatvibes-regular-webfont.eot') format('embedded-opentype'),
		url('font/greatvibes-regular-webfont.svg') format('svg'),
		url('font/greatvibes-regular-webfont.ttf') format('truetype');
}



.containt
{
	font-family: 'greatvibes';
	background-color: #FFF5FE;
}

h1
{
	background-image: linear-gradient(to left, #c47335, #a545b8, #7161ef);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}

h2{
	font-size: 25px;
}

.entree
{
	color : #c47335;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	margin: 0px;
	padding: 0px;
}

.suite_group
{
	color : #a545b8;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
}

.dessert
{
	color: #7161ef;
	padding-bottom: 200px;
	padding-left: 0px;
	width: 100%;
}

.dessert_group
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}



/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px)
{
}

/* Nouvelles règles si la fenêtre fait plus de 992px*/
@media (min-width: 1200px)
{

.choice_dessert
{
	margin-left: 0px;
}
.group
{
	padding-bottom: 90px;
}
}