@font-face
{
	font-family: 'greatvibes';
	src: url('../../polices/greatvibes-regular-webfont.woff') format('woff'),
		url('../../polices/greatvibes-regular-webfont.eot') format('embedded-opentype'),
		url('../../polices/greatvibes-regular-webfont.svg') format('svg'),
		url('../../polices/greatvibes-regular-webfont.ttf') format('truetype');
}

section
{
	font-family: 'greatvibes';
	background-color: #FFF5FE;
}

h1
{
	padding-top: 10%;
	background-clip: linear-gradient(left,#cd7c50, #945ef0);
	linear-gradient: text;
	background-clip: text;
	-webkit-text-fill-color:transparent;
}

.entree
{
	color : #c47335;
	display: flex;
	flex-direction: row;
}

.subtitle_entree
{
text-decoration: none;
background : linear-gradient(to top, #c47335 0%, #c47335 2px, transparent 2px) no-repeat;
background-size: 0 100%;
transition: background-size 300ms;
}

.subtitle_entree:hover
{
	background-size: 100% 100%;
}

.suite
{
color : #a545b8;
display: flex;
flex-direction: row;
}

.subtitle_suite
{
	text-decoration: none;
	background : linear-gradient(to top, #a545b8 0%, #a545b8 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition: background-size 300ms;
}

.subtitle_suite:hover
{
	background-size: 100% 100%;
}

.entree_group
{
	color: #c47335;
}

.suite_group
{
	color: #a545b8;
}

.group_dessert, .dessert
{
	color: #7161ef;
}

.subtitle_dessert
{
	text-decoration: none;
	background : linear-gradient(to top, #7161ef 0%, #7161ef 2px, transparent 2px) no-repeat;
	background-size: 0 100%;
	transition: background-size 300ms;
}

.subtitle_dessert:hover
{
	background-size: 100% 100%;
}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px)
{
	.entree_group, .suite_group
	{
		margin-left: 4%;
		margin-right: 4%;
		padding-left: 0px;
	}

	.choice
	{
		display: flex;
		justify-content: justify;
		width: 100%;
	}
	.dish
	{
		margin-left:0px;
	}
		.group_dessert
	{
		margin-left: 12%;
	}
}		
/* Nouvelles règles si la fenêtre fait plus de 1200px*/
@media (min-width: 1200px)
{
	.part
		{
			margin-left: 4%;
			margin-right: 4%;
			width: 92%;
			h2 {width: 610px}
		}
	.group, .group_dessert
	{
		padding-top: 2%;
		margin-left: 12%;
		margin-right: 12%;
	}

	.price
	{
		width: 20%;
	}

	.dish
	{
		width: 80%;
	}
}