@font-face
{
	font-family: 'greatvibes';
	src: url('../../polices/greatvibes-regular-webfont.woff') format('woff'),
		url('../../polices/greatvibes-regular-webfont.eot') format('embedded-opentype'),
		url('../../polices/greatvibes-regular-webfont.svg') format('svg'),
		url('../../polices/greatvibes-regular-webfont.ttf') format('truetype');
}



section
{
	font-family: 'greatvibes';
	background-color: #FFF5FE;
}



h1
{
	padding-top: 10%;
	background-image: -webkit-linear-gradient(left,#cd7c50, #945ef0);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color:transparent;
}

.entree
{
	color : #c47335;
	display: flex;
	flex-direction: row;
}

.suite

{
color : #a545b8;
display: flex;
flex-direction: row;
}

.entree_group
{
	color: #c47335;
}

.suite_group
{
	color: #a545b8;
}

.group_dessert, .dessert
{
	color: #7161ef;
}

/* Nouvelles règles si la fenêtre fait entre 768px et 1200px*/
@media (min-width: 768px) and (max-width: 1200px)
{
	.entree_group, .suite_group
{
	margin-left: 4%;
	margin-right: 4%;
	padding-left: 0px;
}

.choice
{
	display: flex;
	justify-content: justify;
	width: 100%;
}
.dish
{
	margin-left:0px;
}
	.group_dessert
{
	margin-left: 12%;
}
}		
/* Nouvelles règles si la fenêtre fait plus de 1200px*/
@media (min-width: 1200px)
{
.part
	{
		margin-left: 4%;
		margin-right: 4%;
		width: 92%;
		h2 {width: 610px}
	}
.group, .group_dessert
{
	padding-top: 2%;
	margin-left:17%;
	margin-right: 17%;
}

.price
{
	width: 10%;
}

}